EXPO_PUBLIC_SUPABASE_URL=https://vosmomvrlmovjorrzchb.supabase.co
EXPO_PUBLIC_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InZvc21vbXZybG1vdmpvcnJ6Y2hiIiwicm9sZSI6ImFub24iLCJpYXQiOjE3ODg3NTczNzksImV4cCI6MjEwNDMzMzM3OX0.t1q-cM1rwo4z3yadCe1RcXr90fYk01EEvwKQSxRXpyQ